In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('titanic.csv')
data.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [3]:
data.shape

(891, 12)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
data.drop(columns=['Fare','Cabin','Ticket','PassengerId','Name'],inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Embarked    889 non-null object
dtypes: float64(1), int64(4), object(2)
memory usage: 48.9+ KB

In [7]:
p=data[data['Age']!='NaN']
med=p['Age'].median()
med
data['Age'].fillna(med,inplace=True)

C:\Users\tuhin\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [8]:
data['Sex'].replace("male",1,inplace=True)
data['Sex'].replace("female",0,inplace=True)

In [9]:
data

     Survived  Pclass  Sex   Age  SibSp  Parch Embarked
0           0       3    1  22.0      1      0        S
1           1       1    0  38.0      1      0        C
2           1       3    0  26.0      0      0        S
3           1       1    0  35.0      1      0        S
4           0       3    1  35.0      0      0        S
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0        S
887         1       1    0  19.0      0      0        S
888         0       3    0  28.0      1      2        S
889         1       1    1  26.0      0      0        C
890         0       3    1  32.0      0      0        Q

[891 rows x 7 columns]

In [10]:
data['Family']=data['SibSp']+data['Parch']

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Embarked    889 non-null object
Family      891 non-null int64
dtypes: float64(1), int64(6), object(1)
memory usage: 55.8+ KB

In [12]:
data.dropna(inplace=True)

In [13]:
data.drop(columns=['SibSp','Parch',], inplace=True)

In [14]:
data

     Survived  Pclass  Sex   Age Embarked  Family
0           0       3    1  22.0        S       1
1           1       1    0  38.0        C       1
2           1       3    0  26.0        S       0
3           1       1    0  35.0        S       1
4           0       3    1  35.0        S       0
..        ...     ...  ...   ...      ...     ...
886         0       2    1  27.0        S       0
887         1       1    0  19.0        S       0
888         0       3    0  28.0        S       3
889         1       1    1  26.0        C       0
890         0       3    1  32.0        Q       0

[889 rows x 6 columns]

In [15]:
Y=data['Survived'].values
Y.shape

(889,)

In [16]:
input1=data.drop(columns=['Survived'])
input1

     Pclass  Sex   Age Embarked  Family
0         3    1  22.0        S       1
1         1    0  38.0        C       1
2         3    0  26.0        S       0
3         1    0  35.0        S       1
4         3    1  35.0        S       0
..      ...  ...   ...      ...     ...
886       2    1  27.0        S       0
887       1    0  19.0        S       0
888       3    0  28.0        S       3
889       1    1  26.0        C       0
890       3    1  32.0        Q       0

[889 rows x 5 columns]

In [17]:
X=input1.iloc[:,:].values
X.shape

(889, 5)

In [18]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
X[:,-2]=encoder.fit_transform(X[:,-2])

In [19]:
X[0]

array([3, 1, 22.0, 2, 1], dtype=object)

In [20]:
#one hot encoder
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])

In [21]:
X=oencoder.fit_transform(X).toarray()
X.shape

C:\Users\tuhin\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\tuhin\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(889, 7)

In [22]:
X=X[:,1:]
X.shape

(889, 6)

In [23]:
from sklearn.model_selection import train_test_split

#spliting
X_train , X_test , Y_train , Y_test = train_test_split(X,Y, test_size=0.2)

In [24]:
X_train.shape

(711, 6)

In [25]:
Y_train.shape

(711,)

In [26]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
Y_pred=regressor.predict(X_test)

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(Y_test,Y_pred)

0.3983957613620367

In [30]:
from sklearn.tree import DecisionTreeClassifier
classifier =  DecisionTreeClassifier()

In [31]:
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [32]:
Y_pred=classifier.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.7808988764044944